@layout('layout')

@section('body')
  <h1 class="text-center">Create a new todo.</h1>
  <div class="card">
    <div class="card-body">
      <form action="/todos" method="POST">
        <input class="form-control mb-5" type="text" name="title" id="title">
        <textarea class="form-control mb-5" name="description" id="description" cols="30" rows="10"></textarea>
        <button class="btn btn-success" type="submit">Create todo</button>
      </form>
    </div>
  </div>

@endsection
