<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>CREATE A TODO FOR ME</h1>

  <form action="/todos" method="POST">
    <input type="text" name="title" id="title">
    <textarea name="description" id="description" cols="30" rows="10"></textarea>
    <button type="submit">Create todo</button>
  </form>
</body>
</html>